img.img-responsive.img_size {
    width: 100%;
    height: 100%;
    max-height: 450px;
}
.margin_left{
    margin-left: 17%;
}
.agent_photo{
    width: 100%;
    height: 260px;
}
.agent_div{
    height: 260px;
}
.panel_bottom_info{
    padding-top: 1.5%;
}
.row.commen_frm .control-group.form-group.message_area {
    padding: 0;
}
.post_comment_img{
    width: 80%;
    height: 50%;
}
.comm_sec .col-md-2 {
    padding: 0;
}
.margin_bottom_0{
    margin-bottom: 0;
}
.main_log_out{
    border: none;
    margin-left: 15px;
}
.li_inline{
    display: inline-block;
}
.margin_top_10{
    margin-top: 10px;
}
.about_height{
    height: 60px;
}
.description_div{
    height: 42px;
}
img.img-responsive.img-hover.talented_agent_photo{
    width: 100%;
    height: 200px;
}
.flex-viewport {
    height: 451px;
}
img.img-responsive.img-hover.property_img{
    height: 463px;
}
.float-right{
    float: right;
}
